/**
 * Styles for Content Management System
 **/

*, *::before, *::after {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     position: relative;
 }

 body {
     margin: 0;
     padding: 0;
 }
